extends ../layouts/default
block head
	- pageTitle = 'CSSSR Project Template';

block content
	article.post.typosettings
		h1.post__title About			
		.post__body 
			p
				img(src='/img/avatar.png' alt='avatar')
			p Плохой python программист и веб технолог. Владимир Абидуев в интернетах известен как 
				a(href='http://twitter.com/gunlinux') gunlinux
			p Стараюсь писать все, что больше 144 символов.
			p 
				b Ссылки
			ul
				li 
					a(href='http://ya.ru') ya.ru
				li 
					a(href='http://ya.ru') ya.ru
			hr
