{% extends 'layouts/default.html' %}

{% block content %}
<article class="post typesettings">
    <h1 class="post__title">About</h1>
    <div class="post__body">
        <p><img alt="gunlinux" src="/img/avatar.png" title="gunlinux" /></p>
        <p>Плохой python программист и веб технолог. Владимир Абидуев в интернетах известен как @<a href="http://twitter.com/gunlinux">gunlinux</a>.</p>
        <p>Стараюсь писать все, что больше 144 символов. </p>
        <p>Ссылки:</p>
        <ul>
            <li>
                <a href="https://github.com/gunlinux">github</a>
            </li>
            <li>
                @<a href="http://twitter.com/gunlinux">gunlinux</a>
            </li>
        </ul>
        <hr />
        <p><a href="https://github.com/gunlinux/gunlinux.org">Блог работает на flask.</a></p>
    </div>
</article>
{% endblock %}
