{% extends 'layouts/default.html' %}

{% block content %}
<div class="content">
    <div class="post-group">
        <h3 class="post-group__title">2015</h3>
        <div class="post-group_content">
            <div class="minipost">
                <a class="minipost__title" href="/page.html">
                    npm 3.0 вышел в бету
                </a>
                <span class="minipost__date">
                    June 30, 2015
                </span>
            </div>
                
            <div class="minipost">
                <a class="minipost__title" href="/page.html">
                    Flask-Wtf 
                </a>
                <span class="minipost__date">
                    May 29, 2015
                </span>
            </div>                
        </div>
    </div>
    
    <div class="post-group">
        <h3 class="post-group__title">2014</h3>
        <div class="post-group_content">
            
            <div class="minipost">
                <a class="minipost__title" href="/page.html">
                    Vim Hack
                </a>
                <span class="minipost__date">
                    
                        December 28, 2014
                    
                </span>
            </div>
            
            <div class="minipost">
                <a class="minipost__title" href="/page.html">
                    Svg-fallback
                </a>
                <span class="minipost__date">
                    
                        December 07, 2014
                    
                </span>
            </div>
            
            <div class="minipost">
                <a class="minipost__title" href="/page.html">
                    Grunt-Fingerprint + Flask
                </a>
                <span class="minipost__date">
                    
                        November 25, 2014
                    
                </span>
            </div>
            
            <div class="minipost">
                <a class="minipost__title" href="/page.html">
                    Flask-Cache и что я еще кэширую в бложике
                </a>
                <span class="minipost__date">
                    
                        November 20, 2014
                    
                </span>
            </div>
            
            <div class="minipost">
                <a class="minipost__title" href="/page.html">
                    Я люблю 80тые
                </a>
                <span class="minipost__date">
                    
                        November 15, 2014
                    
                </span>
            </div>
            
            <div class="minipost">
                <a class="minipost__title" href="/page.html">
                    Gunlinux v.0.0.3
                </a>
                <span class="minipost__date">
                    
                        November 09, 2014
                    
                </span>
            </div>
            
        </div>
    </div>

    <div class="post-group">
        <h3 class="post-group__title">2013</h3>
        <div class="post-group_content">
            
            <div class="minipost">
                <a class="minipost__title" href="/page.html">
                    Some day stuff
                </a>
                <span class="minipost__date">
                    
                        архив
                    
                </span>
            </div>
            
            <div class="minipost">
                <a class="minipost__title" href="/page.html">
                    Давай сделаем стартап
                </a>
                <span class="minipost__date">
                    
                        архив
                    
                </span>
            </div>
            
            <div class="minipost">
                <a class="minipost__title" href="/page.html">
                    Как работать с геймерами?
                </a>
                <span class="minipost__date">
                    
                        архив
                    
                </span>
            </div>
            
            <div class="minipost">
                <a class="minipost__title" href="/page.html">
                    Доктайп. Точка
                </a>
                <span class="minipost__date">
                    
                        архив
                    
                </span>
            </div>
            
            <div class="minipost">
                <a class="minipost__title" href="/page.html">
                    Что за порталы?
                </a>
                <span class="minipost__date">
                    
                        архив
                    
                </span>
            </div>
            
            <div class="minipost">
                <a class="minipost__title" href="/page.html">
                    Беспощадная веб разработка на селе
                </a>
                <span class="minipost__date">
                    
                        архив
                    
                </span>
            </div>
            
            <div class="minipost">
                <a class="minipost__title" href="/page.html">
                    Завел очередной, никому особо не нужный блог
                </a>
                <span class="minipost__date">
                    
                        архив
                    
                </span>
            </div>
            
        </div>
    </div>
 </div>
{% endblock %}