extends ../layouts/default
block head
	- pageTitle = 'CSSSR Project Template';

block content
	.post-group
		h3.post-group__title 2015
		.post-group_content 
			.minipost
				a.minipost__title(href='/page.html') page
				span.minipost__date June 30, 2015
				
			.minipost
				a.minipost__title(href='/page.html') page
				span.minipost__date June 30, 2015
