extends ../layouts/default
title 
block head
	- pageTitle = 'CSSSR Project Template';

block content
	article.post.typosettings
		h1.post__title npm 3.0 вышел в бету 			
		.post__date June 30, 2015
		.post__body 
			h4 Установка
			p 
				em Это Beta - используйте на свой страх и риск
			h4 Изменения
			p Плоские зависимости, теперь никакой порнографии вида
